# Excel Data Cleaning

#### Step 1. Import the libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#### Step 2. Import the 'Raw_Format' excel file

In [2]:
raw_data = pd.read_excel('Raw_Format.xlsx', header = None)
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11
0,PT Ikan Terbang,2021-12-01 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
1,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
2,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
3,NaN,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
4,NaN,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
5,NaN,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PT Ikan Terbang,2021-12-02 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
8,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
9,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,09:28:34,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
10,NaN,IVM_AD_301121_MASTER,09:58:10,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,PT Ikan Terbang,2021-12-03 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
13,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
14,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:32:27,00:00:15:00,NaN,WD_021221_EASTJAVAIN,NaN,NaN,WD_021221_KALIMANTANIN,WD_021221_SULAWESIIN,WD_021221_DENPASARIN,NaN
15,NaN,IVM_AD_301121_MASTER,10:41:03,00:00:15:00,NaN,WD_021221_EASTJAVAIN,NaN,NaN,WD_021221_KALIMANTANIN,WD_021221_SULAWESIIN,WD_021221_DENPASARIN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,PT Ikan Terbang,2021-12-04 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
18,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
19,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,11:55:39,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
20,NaN,IVM_SAN_301121_MASTER,12:17:10,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,PT Ikan Terbang,2021-12-05 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
23,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
24,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,13:16:15,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
25,NaN,IVM_SAN_301121_MASTER,13:41:12,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,PT Ikan Terbang,2021-12-06 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
28,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
29,NaN,IVM_SAN_301121_MASTER,15:24:05,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
30,NaN,IVM_AD_301121_MASTER,15:46:13,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,PT Ikan Terbang,2021-12-07 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
33,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
34,NaN,IVM_SAN_301121_MASTER,16:24:59,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN
35,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,NaN,WD_031221_EASTJAVAIN,NaN,NaN,WD_031221_KALIMANTANIN,WD_031221_SULAWESIIN,WD_031221_DENPASARIN,NaN

From here, we can see the raw data consists of multiple tables separated by empty lines

#### Step 3. Start cleaning the first table from the raw data

In [3]:
# We can get the first table using this code

first_table = raw_data.iloc[:7]
first_table

,0,1,2,3,4,5,6,7,8,9,10,11
0,PT Ikan Terbang,2021-12-01 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
1,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
2,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
3,NaN,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
4,NaN,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
5,NaN,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# We can see there's an empty line at the bottom of the table
# First we need to remove the empty line using this code

first_table = first_table.dropna(how= 'all', axis = 0)
first_table

,0,1,2,3,4,5,6,7,8,9,10,11
0,PT Ikan Terbang,2021-12-01 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
1,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
2,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
3,NaN,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
4,NaN,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
5,NaN,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN

In [5]:
# To make it easier to read, we can separate the table into 2 parts
# the first one consists of 'Window name', 'Watermark media', 'Expected/Played time', and 'Replacement Duration'

df_1 = first_table.iloc[:,:4]
df_1

,0,1,2,3
0,PT Ikan Terbang,2021-12-01 00:00:00,NaN,NaN
1,Window name,Watermark media,Expected/ Played time,Replacement Duration
2,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00
3,NaN,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00
4,NaN,IVM_AD_301121_MASTER,19:11:42,00:00:15:00
5,NaN,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00

In [6]:
# the second one consists of 'City' and 'Id Aset'

df_2 = first_table.iloc[:,4:]
df_2

,4,5,6,7,8,9,10,11
0,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
1,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
2,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
3,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
4,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
5,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN

In [7]:
# Now, we can make a new table using our desired format

# Make a new table
df_new = pd.DataFrame()

for i in range(df_2.shape[1]):      # We use df_2.shape[1] to count how many cities we have
    city = df_2.iloc[0, i]          # then, we use this code to get the city name
    
    for j in range(len(df_1)-2):    # we use len(df_1)-2 to get the length of our data
        
        # We make new variables to fill our table rows
        idAset = df_2.iloc[2+j, i]
        winName = df_1.iloc[2,0]
        watMedia = df_1.iloc[2+j,1]
        expTime = df_1.iloc[2+j,2]
        repDuration = df_1.iloc[2+j,3]

        # Make a new table 'row' using the clean format
        row = pd.DataFrame([[city, idAset, winName, watMedia, expTime, repDuration]], 
                            columns=['City', 'Id Aset', 'Window name', 'Watermark media', 
                                        'Expected/ Played time', 'Replacement Duration'])
        

        # concat the 'row' to our df_new table
        df_new = pd.concat([df_new, row], ignore_index= True)

# Then, we can add the 'Date' and 'Company' columns to the table
df_new['Date'] = first_table.iloc[0,1].strftime('%Y-%m-%d %H:%M:%S')
df_new['Company'] = first_table.iloc[0,0]

df_new

,City,Id Aset,Window name,Watermark media,Expected/ Played time,Replacement Duration,Date,Company
0,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
1,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
2,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
3,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
4,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
5,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
6,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
7,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
8,Medan,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
9,Medan,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
10,Medan,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
11,Medan,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
12,Palembang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
13,Palembang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
14,Palembang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
15,Palembang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
16,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
17,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
18,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
19,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
20,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
21,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
22,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
23,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
24,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
25,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
26,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
27,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
28,Bandung,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
29,Bandung,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
30,Bandung,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
31,Bandung,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang

In [8]:
#To summarize all the steps, we define a function to clean the table 

def cleanTable(df):
    df = df.dropna(how= 'all', axis = 0)

    df_1 = df.iloc[:,:4]
    df_2 = df.iloc[:,4:]

    df_new = pd.DataFrame()

    for i in range(df_2.shape[1]):
        city = df_2.iloc[0, i]
        
        for j in range(len(df_1)-2):
            
            idAset = df_2.iloc[2+j, i]
            winName = df_1.iloc[2,0]
            watMedia = df_1.iloc[2+j,1]
            expTime = df_1.iloc[2+j,2]
            repDuration = df_1.iloc[2+j,3]

            row = pd.DataFrame([[city, idAset, winName, watMedia, expTime, repDuration]], 
                                columns=['City', 'Id Aset', 'Window name', 'Watermark media', 
                                            'Expected/ Played time', 'Replacement Duration'])
           
            df_new = pd.concat([df_new, row], ignore_index= True)

    df_new['Date'] = df.iloc[0,1].strftime('%Y-%m-%d %H:%M:%S')
    df_new['Company'] = df.iloc[0,0]

    return df_new

In [9]:
# Now, we can clean the table with a single line of code

cleanTable(first_table)

,City,Id Aset,Window name,Watermark media,Expected/ Played time,Replacement Duration,Date,Company
0,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
1,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
2,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
3,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
4,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
5,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
6,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
7,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
8,Medan,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
9,Medan,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
10,Medan,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
11,Medan,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
12,Palembang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
13,Palembang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
14,Palembang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
15,Palembang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
16,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
17,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
18,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
19,Banjarmasin,WD_011221_KALIMANTANIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
20,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
21,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
22,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
23,Makassar,WD_011221_SULAWESIIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
24,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
25,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
26,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
27,Denpasar,WD_011221_DENPASARIN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
28,Bandung,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
29,Bandung,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
30,Bandung,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
31,Bandung,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang

#### Step 4. Separate the Raw Data into multiple tables

In [10]:
# We can split a table into multiple tables using the np.split() function

# We use the empty lines as our guide to split the table
split_data = np.split(raw_data, raw_data[raw_data.isnull().all(1)].index) 

# We can check how many tables we have using the len() function
len(split_data)

7

In [11]:
# To access the tables, we can use indexing (starting from index 0)
split_data[1]

,0,1,2,3,4,5,6,7,8,9,10,11
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PT Ikan Terbang,2021-12-02 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
8,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
9,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,09:28:34,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
10,NaN,IVM_AD_301121_MASTER,09:58:10,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN

In [12]:
# Next, we define a function to fully clean the raw data into the clean format

def full_cleaned(raw_data):

    # first we split the tables like we did before
    split_data = np.split(raw_data, raw_data[raw_data.isnull().all(1)].index) 

    # make a new table
    cleaned_table = pd.DataFrame()

    # we access each tables in split_data and clean them using the cleanTable() function we made
    for i in range(len(split_data)):
        data = pd.DataFrame(split_data[i])
        
        # concat the separate tables into our cleaned_table
        cleaned_table = pd.concat([cleaned_table, cleanTable(data)], ignore_index= True)
        
    return cleaned_table

In [13]:
# Finally, we can clean the raw data using a single function

df = full_cleaned(raw_data)

df

,City,Id Aset,Window name,Watermark media,Expected/ Played time,Replacement Duration,Date,Company
0,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
1,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
2,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
3,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
4,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
...,...,...,...,...,...,...,...,...
123,Makassar,WD_031221_SULAWESIIN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
124,Denpasar,WD_031221_DENPASARIN,NaN,IVM_SAN_301121_MASTER,16:24:59,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
125,Denpasar,WD_031221_DENPASARIN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
126,Bandung,NaN,NaN,IVM_SAN_301121_MASTER,16:24:59,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
127,Bandung,NaN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang

#### Step 5. Export the table into Excel file

In [14]:
df.to_excel('Clean_Format.xlsx', index = False)