In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
raw_data = pd.read_excel('m2_d11_Raw_Format_exer.xlsx', header = None)
raw_data.head(6)

,0,1,2,3,4,5,6,7,8,9,10,11
0,PT Ikan Terbang,2021-12-01 00:00:00,NaN,NaN,Semarang,Surabaya,Medan,Palembang,Banjarmasin,Makassar,Denpasar,Bandung
1,Window name,Watermark media,Expected/ Played time,Replacement Duration,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset,Id Aset
2,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
3,NaN,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
4,NaN,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN
5,NaN,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,NaN,WD_011221_EASTJAVAIN,NaN,NaN,WD_011221_KALIMANTANIN,WD_011221_SULAWESIIN,WD_011221_DENPASARIN,NaN

In [3]:
def cleanTable(df):
    df = df.dropna(how= 'all', axis = 0)

    df_1 = df.iloc[:,:4]
    df_2 = df.iloc[:,4:]

    df_new = pd.DataFrame()

    for i in range(df_2.shape[1]):
        city = df_2.iloc[0, i]
        
        for j in range(len(df_1)-2):
            
            idAset = df_2.iloc[2+j, i]
            winName = df_1.iloc[2,0]
            watMedia = df_1.iloc[2+j,1]
            expTime = df_1.iloc[2+j,2]
            repDuration = df_1.iloc[2+j,3]

            row = pd.DataFrame([[city, idAset, winName, watMedia, expTime, repDuration]], 
                                columns=['City', 'Id Aset', 'Window name', 'Watermark media', 
                                            'Expected/ Played time', 'Replacement Duration'])
           
            df_new = pd.concat([df_new, row], ignore_index= True)

    df_new['Date'] = df.iloc[0,1].strftime('%Y-%m-%d %H:%M:%S')
    df_new['Company'] = df.iloc[0,0]

    return df_new

In [4]:
def full_cleaned(raw_data):

    split_data = np.split(raw_data, raw_data[raw_data.isnull().all(1)].index) 

    cleaned_table = pd.DataFrame()

    for i in range(len(split_data)):
        data = pd.DataFrame(split_data[i])
        
        cleaned_table = pd.concat([cleaned_table, cleanTable(data)], ignore_index= True)
        
    return cleaned_table

In [5]:
df = full_cleaned(raw_data)

df

,City,Id Aset,Window name,Watermark media,Expected/ Played time,Replacement Duration,Date,Company
0,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
1,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,10:07:27,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
2,Semarang,NaN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,19:11:42,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
3,Semarang,NaN,06:00:00 to 05:59:59,IVM_SAN_301121_MASTER,19:44:09,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
4,Surabaya,WD_011221_EASTJAVAIN,06:00:00 to 05:59:59,IVM_AD_301121_MASTER,08:26:37,00:00:15:00,2021-12-01 00:00:00,PT Ikan Terbang
...,...,...,...,...,...,...,...,...
123,Makassar,WD_031221_SULAWESIIN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
124,Denpasar,WD_031221_DENPASARIN,NaN,IVM_SAN_301121_MASTER,16:24:59,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
125,Denpasar,WD_031221_DENPASARIN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
126,Bandung,NaN,NaN,IVM_SAN_301121_MASTER,16:24:59,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang
127,Bandung,NaN,NaN,IVM_AD_301121_MASTER,16:57:56,00:00:15:00,2021-12-07 00:00:00,PT Ikan Terbang

In [6]:
df.to_excel('CleanedData.xlsx', index = False)